

@model PIK_Library.Model.Author


@{
    ViewBag.Title = "View";
}

<h1 style="text-align:center">@{if (Model != null) { @Model.FirstName } } @{ if (Model != null) { @Model.LastName} }</h1>
<p style="text-align:center">@{if (Model != null) { @Model.Description } }</p>
<p style="text-align:center">@{if (Model != null) { @Model.Biography} }</p>

<div id="partial" style="margin-top:20px">
</div>



@section Scripts
    {
    <script>
        $('#partial').load("/Author/LoadBooks", { ID:@Model.ID})
    </script>
}