@model PIK_Library.Model.Author
@using PIK_Library.Dal;

@{
    ViewBag.Title = "DeleteAuthor";
}

<h2>Author delete</h2>

<h3>Are you shure?</h3>
<div>
    <h4>Author</h4>
    @{List<string> authors = new List<string>();
        foreach (PIK_Library.Model.Author a in ViewBag.authors)
        {
            authors.Add(a.FirstName + " " + a.LastName);
        }
    }
   


    @using (Html.BeginForm())
    {
        @Html.DropDownList("Author:", new SelectList(authors))
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            @Html.ActionLink("Back", "Index")
        </div>
    }
</div>
