@model PIK_Knjizara.Models.ViewModels.GetBookVM

@{
    ViewBag.Title = "GetBook";
}

<h2>GetBook</h2>

<div class="card m-3 flex-row">
    <div class="m-2 w-33">
        @Html.Partial("_Book", Model.Book)
    </div>


    <div class="m-2 w-75">
        @Html.Partial("_BuyBook", Model)
    </div>

    @*<div class="m-2">
                @Html.Partial("_BorrowBook", Model)
        </div>*@
</div>
