@{
    ViewBag.Title = "About";
}
<h1 class="text-danger">@ViewBag.Title</h1>

<h3 class="text-success">This is application that I made to pass Razvoj Web Aplikacija.</h3>
<h2 class="text-warning">Hopefully I will get an excelent grade!</h2>
